<section class="position-relative" style="height: 500px;">
  <div id="map" class=" shadow" style="width: 100%; height: 100%;"></div>
  <div class="position-absolute top-0 start-50 translate-middle p-4 my-5 z-1">
    
    <h6 class="text-blue rubik-distressed-regular">Click on clusters or markers to explore individual sites</h6>
  </div>
</section>




